{% load static %}
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
	<div class="container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/images/logo5.png' %}" alt="Progressus HTML5 template" class="logo">LeafCheckIT</a>
		</div>
		<div class="navbar-collapse collapse">
		
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="{% url 'index' %}">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nutrient Deficiencies <b class="caret"></b></a>
					<ul class="dropdown-menu">
							<li><a href="{% url 'nitrogen' %}">Nitrogen Deficiency</a></li>
							<li class="active"><a href="{% url 'phosphorus' %}">Phosphorus Deficiency</a></li>
							<li class="active"><a href="{% url 'potassium' %}">Potassium Deficiency</a></li>
					</ul>
				</li>
				{% if request.session.session_key %}
					<li><a href="{% url 'startclassify' %}">Classify Banana Leaf</a></li>
					<li class="active"><a href="{% url 'logout' %}">Logout</a></li>
					<li class="active"><a href="{% url 'account' %}">Profile</a></li>
				{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}

				<li><a href="">Contact Us</a></li> 
				<!--<li><a class="btn" href="">Admin</a></li>-->
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>