{% extends 'base.html' %}
{% block content %}
{% load static %}
<article class="col-sm-8 maincontent">
	<header class="page-header">
		<h1 class="page-title">Potassium</h1>
	</header>
	<p>Potassium is a nutrient essential to sustain plant growth and reproduction. It plays several roles in plant nutrition. </p>

	<p>First, potassium regulates the movement of stomata, controlling the food production of plants. It also serves as a catalyst in enzyme production needed for Adenosine triphosphate (ATP), an important energy source of plants [1].</p>

	<p>It also improves the overall health of growing plants by increasing the plant resistance to stresses and drought by regulating the crop’s internal water balance and turgidity and increase the plant’s resistivity to diseases and pest [2]. </p>

	<h3>Potassium Deficiency Symptoms</h3>

	<p>Potassium (K) deficiency has several stages and each stage has different manifestations on banana leaves. The first stage of the deficiency starts with leaves turning to yellowish orange color (Figure 1). Necrosis starts at leaf margin is the noticeable symptom of K deficiency on banana. </p>

	<p>Stage 2 is considered as the moderate stage and is considered as the right time to apply K fertilizer to the plant [11].</p>

	<p>On the third stage of the deficiency, the necrosis that started at the leaf edges from the second stage will thicken and will reach the leaf midrib. The figure 6 shows the stage 3 of K deficiency. </p>

	<p>Almost the entire banana leaf will wither and starts to curl in the fourth stage of the deficiency which is considered as the extreme condition [3]. The figure 7 shows an image of the banana leaf with stage 4 potassium deficiency. </p>

	<p>The last stage of the deficiency, the stage 5 is the lethal stage. The stage will show a total necrosis on the leaf. The leaf will also start to bend pointing towards the base of the plant. The figure 8 shows the lethal stage of K deficiency.</p>
	
	<h3>References</h3>
	<ol class="noStyle-list">
		<li>[1] "Potassium in plants," SMART! Software Growing Intelligently, [Online]. Available: http://www.smart-fertilizer.com/articles/potassium-in-plants. [Accessed October 2016].</li>
		<li>[2] Haifa Chemicals Ltd, Nutritional Recommendatins for Banana. </li>
		<li>[3]Sankar, "Potassium (K) Deficiency Symptoms," 2011. [Online]. Available: Banana: http://tcbanana.blogspot.com/2011/05/k-deficiency-symptoms.html. [Accessed October 2016].</li>

	</ol>


</article>
<aside class="col-md-4 sidebar sidebar-right">
	<div class="row widget">
		<div class="col-xs-12">
			<h4>Stage 1. Potassium Deficiency</h4>
			<p><img <img src="{% static 'assets/images/potassium1.png' %}" alt="Stage 1. Potassium Deficiency" /></p>
		</div>
	</div>
	<div class="row widget">
		<div class="col-xs-12">
			<h4>Stage 2. Potassium Deficiency</h4>
			<p><img <img src="{% static 'assets/images/potassium2.png' %}" alt="Stage 2. Potassium Deficiency" /></p>
		</div>
	</div>
	<div class="row widget">
		<div class="col-xs-12">
			<h4>Stage 3. Potassium Deficiency</h4>
			<p><img <img src="{% static 'assets/images/potassium3.png' %}" alt="Stage 3. Potassium Deficiency" /></p>
		</div>
	</div>
	<div class="row widget">
		<div class="col-xs-12">
			<h4>Stage 4. Potassium Deficiency</h4>
			<p><img <img src="{% static 'assets/images/potassium4.png' %}" alt="Stage 4. Potassium Deficiency" /></p>
		</div>
	</div>
	<div class="row widget">
		<div class="col-xs-12">
			<h4>Stage 5. Potassium Deficiency</h4>
			<p><img <img src="{% static 'assets/images/potassium5.png' %}" alt="Stage 5. Potassium Deficiency" /></p>
		</div>
	</div>

</aside>
			<!-- /Sidebar -->

{% endblock %}