{% extends 'base.html' %}
{% block content %}
{% load static %}

<article class="col-sm-15 maincontent">
	<header class="page-header">
		<h1 class="page-title">Nitrogen</h1>
	</header>
	<h3>Importance of Nitrogen on Plant Nutrition</h3>
	<p><img src="{% static 'assets/images/nitro1.jpg' %}" alt="" class="img-rounded pull-right" width="300" />
	Nitrogen is a nutrient that promotes production of proteins, the main composition of tissues of most living organisms. Without proteins, plants wither and die [1]. 
	</p>
	<p>
	In addition, nitrogen is a major component of chlorophyll, a pigment which colors leaves green. The chlorophyll is uniquely capable of converting energy from the sun to transform water, carbon dioxide and mineral as the plant’s only source of food [2].
	</p>
	<p>
	Though nitrogen is abundant to earth’s atmosphere, is not readily available to be used as nutrient for plants since it follows a production cycle [3].
	</p>
	<p>
	Deficiency in nitrogen can cause slow plant growth and poor vegetative frame which is essential for high crop yields. 
	</p>
	<h3>Nitrogen Deficiency Symptoms</h3>
	<p>Nitrogen (N) deficiency symptoms include yellow discoloration of leaves from tip backward older leaves brown. The lower leaves may die prematurely while the top of the plan remains green[4]. </p>
	
	<h3>References</h3>
	<ol class="noStyle-list">
		<li>[1] Mosaic Crop Nutrition, "Nitrogen in Plants," [Online]. Available: http://www.cropnutrition.com/efu-nitrogen.</li>
		<li>[2] "Fact Monster," [Online]. Available: http://www.factmonster.com/ipka/A0775714.html.</li>
		<li>[3] The Fertilizer Institute, "Nitrogen: Essential to Protein," [Online]. Available: https://www.tfi.org/introduction-fertilizer/nutrient-science/nitrogen.</li>
		<li>[4] Haifa Chemicals Ltd, Nutritional Recommendatins for Banana. </li>

	</ol>
</article>
{% endblock %}