{% extends 'base.html' %}
{% block content %}
{% load static %}
<article class="col-sm-15 maincontent">
	<header class="page-header">
		<h1 class="page-title">What is LeafCheckIT?</h1>
	</header>
	<p>
	Nutrients are essential substance in foods that give nourishment to all organisms, including plants in order for them to live, grow and reproduce [1]. 
	</p>
	<p>
	Plants need right combination of nutrients in order for them to yield bountiful harvest. The sources of these nutrients can be air, water, soil, fertilizer and animal manure. The main nutrients that plants need in order to generate food are carbon as carbon dioxide from air and hydrogen and oxygen as H2O or water.  The nutrients that can be derived from soil, fertilizer and animal manure are composed of thirteen elements and are quantitatively divided quantitatively into two categories: macronutrient and micronutrient [2].  

	</p>
	<p>
	Macronutrient is a type of elements needed in large amounts is classified into primary and secondary nutrients. The primary nutrients are nitrogen, phosphorus and potassium and are the most frequently required in a crop fertilization program [3]. The secondary nutrients are calcium, magnesium and sulfur. Usually enough of these nutrients can be found naturally in soil and not always need in fertilization [4].
	</p>
	<p>

	Micronutrients, on the other hand are known as trace elements for they are used in very small amounts. Nutrients under this classification are boron, chlorine, copper, iron, manganese, molybdenum and zinc [2].
	</p>
	
	<p>
	<b>LeafCheckIT</b> is an intelligent web application that can be used to analyze and predict macronutrient deficiency on a Banana crop using image processing and machine learning technologies.
	The application accepts banana leaf images from the user and analyze it to determine whether the crop has <em>Nitrogen (N), Phosphorus (P) and Potassium (K) deficiency</em>, the nutrients needed in order for it to fully grow and produce fruit.
	</p>

	<h3>References</h3>
	<ol class="noStyle-list">
		<li>[1] 	Cambridge University Press, "Cambridge Dictionary," [Online]. Available: http://dictionary.cambridge.org/us/dictionary/english/nutrient. [Accessed 10 October 2016].</li>
		<li>[2] 	International Fertilizer Industry Association, Fertilizers and their use: A pocket guide for extension officers 4th Edition, Rome: Food and Agriculture Organization of the United Nations, 2000.</li> 
		<li>[3] 	EL Dorado Chemical, "ROLES OF THE 16 ESSENTIAL NUTRIENTS IN CROP DEVELOPMENT," n.d.. [Online]. Available: http://eldoradochemical.com/fertiliz1.htm.</li>
		<li>[4] 	North Carolina Department of Agriculture and Consumer Services, "Plant Nutrients," n.d.. [Online]. Available: http://www.ncagr.gov/cyber/kidswrld/plant/nutrient.htm.</li>
	</ol>



</article>
{% endblock %}