{% extends 'base.html' %}
{% block content %}
<h3>Login to your LeafCheckIT account</h3>

<article>
<p class="errormsg">{{message}}</p>
<form action={% url 'login' %} method="POST" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group">
	{{ form.as_p }}
	</div>
	
	<div class="form-group">
		<p>
			<input type="submit" value="Login" class="btn btn-primary">
		</p>
	</div>
</form>
</article>
<p>Not yet a member?</p>
<p>Click <a href="{% url 'signup' %}">here</a> to create an account or download LeafCheckIT app on <a href="">Google Store <i class="fa fa-play fa-2"></i></a></p>
	
{% endblock %}