{% extends 'base.html' %}
{% block content %}
{% load static %}
<article class="col-sm-15 maincontent">
	<header class="page-header">
		<h1 class="page-title">Phosphorus</h1>
	</header>
	<p><img src="{% static 'assets/images/phospo1.jpg' %}" alt="" class="img-rounded pull-right" width="500" height="300" />
	Phosphorus is a nutrient critical the development the strong root system and increased stalk and stem strength for plants [1]. It is also a vital component of Adenosine triphosphate (ATP), an element necessary for plant life processes such as photosynthesis, metabolism of carbohydrates, and the circulation of energy within the plant [2]. 
	</p>
	<p>
	The nutrient also helps in developing uniform and early crop maturity, resist stresses and plant diseases, improved flower formation and seed production thus, improving the quality of the crop produced [1].
	</p>

	<h3>Phosphorus Deficiency Symptoms on Banana</h3>

	<p>Phosphorus deficiency on banana develops chlorosis on the left margin. It shows signs of discoloration to dark bluish green, purpling and browning from the tip backward of the banana leaves [2].</p>

	<h3>References</h3>
	<ol class="noStyle-list">
		<li>[1] Haifa Chemicals Ltd, Nutritional Recommendatins for Banana. </li>
		<li>[2] Mosaic Crop Nutrition, "Essential Role of Phosphorus in Plants," [Online]. Available: http://www.cropnutrition.com/efu-phosphorus.</li>
	</ol>

</article>
{% endblock %}