#DisplayResult_img{
	width: 250px;
	height: 250px;
}
.DisplayResult_table tr th{
	padding: 20px;
}
#footer{
	min-height: 20%;
}
.logo{
	height:80px;
	width:80px;
}
.form-group label{
	width: 100px;
}
#signup p label{
	width: 150px;
}